html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.3;
    background: $cadetBlue;
    color: $dark;
}

// Flexbox helper class
.flex {
    &-jc-aic {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}